.hero {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__content {
    max-width: 700px;
  }

  &__logo {
    & span {
      display: block;
      width: 96px;
      height: 96px;
      margin: 0 auto 1rem;

      & > svg {
        width: 96px;
        height: 96px;

        & > path {
          fill: var(--accent-2);
        }
      }

      @media (--large) {
        width: 128px;
        height: 128px;

        & > svg {
          width: 128px;
          height: 128px;
        }
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-tenor-sans);
    color: var(--accent-2);
    margin-bottom: 1rem;

    @media (--large) {
      font-size: 3rem;
    }
  }

  &__slogan {
    font-size: 1rem;
    font-family: var(--font-raleway);
    color: var(--dark-grey);
    line-height: 1.6;
    margin-bottom: 2rem;

    & strong {
      color: var(--accent-1);
      font-weight: 700;
    }

    @media (--large) {
      font-size: 1.25rem;
    }
  }

  &__cta {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--accent-2);
    color: var(--white) !important;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--accent-hover);
      color: var(--background-dark);
    }
  }
}
