.footer {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 1rem 2rem;
  font-family: var(--font-raleway);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  &__text {
    font-size: 0.9rem;
    color: var(--accent-5);
    margin: 0;
  }

  &__credits {
    font-size: 0.9rem;
    color: var(--accent-4);

    & a {
      color: var(--accent-4);
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: var(--accent-3);
      }
    }
  }
}
